PORT=3002

# =====================================
# Configuração de Mensageria
# =====================================
RABBITMQ_URL=amqp://botlandia:botlandia@botlandia-rabbitmq:5672                 # URL de conexão com o RabbitMQ
