PORT=3001                         # Porta principal da aplicação

# =====================================
# Configuração do Banco de Dados
# =====================================
MONGO_URI=mongodb://botlandia:botlandia@localhost:27017/admin  # URI de conexão com o MongoDB

# =====================================
# Configuração de Mensageria
# =====================================
RABBITMQ_URL=amqp://botlandia:botlandia@localhost:5672                 # URL de conexão com o RabbitMQ

# =====================================
# APIs Externas
# =====================================

## OpenAI
OPENAI_API_KEY=                                                         # Chave de API da OpenAI
OPENAI_MODEL_NAME=gpt-4o-mini                                         # Nome do modelo OpenAI a ser utilizado
OPENAI_IMAGE_MODEL=dall-e-3                                            # Modelo de imagem da OpenAI

## Serper
SERPER_API_KEY=                                                             # Chave de API da Serper

## Eleven Labs
ELEVEN_LABS=                                                          # Chave de API da Eleven Labs
ELEVEN_LABS_VOICE=Alcione
## Google
GOOGLE_API_KEY=                                                     # Chave de API do Google
GOOGLE_MODEL_NAME=gemini-1.5-pro-exp-0827                           # Nome do modelo Google a ser utilizado
YOUTUBE_API_KEY=                                                        # Chave de API do YouTube

## Ollama
OLLAMA_URL=http://192.168.18.50:9090                                   # URL do serviço Ollama
OLLAMA_MODEL_NAME=phi3:3.8b                                          # Nome do modelo Ollama

# =====================================
# Configuração de APIs Internas
# =====================================
WHATSAPP_API_URL=http://botlandia-api-whatsapp:3002                               # URL da API do WhatsApp

# =====================================
# Configuração de Caminhos
# =====================================
PATH_DATA=/app/botlandia-back/data                              # Caminho para dados da aplicação
GOOGLE_CALENDAR_TOKEN_PATH=/app/botlandia-back/token_cal.json               # Caminho para token do Google Calendar
GOOGLE_GMAIL_TOKEN_PATH=/app/botlandia-back/token_gmail.json                 # Caminho para token do Google Gmail
GOOGLE_APPLICATION_CREDENTIALS=/app/botlandia-back/credentials.json          # Caminho para credenciais do Google

# =====================================
# Outras Configurações
# =====================================
